.a {
    /* background-color: aqua; */
    float: left;
    height: 100%;
}

.b {
    /* background-color: blueviolet; */
    /* padding-left: 5px; */
    float: none;
    padding-left: 60px;
    overflow-y: hidden;
}
