<div style="margin-top:5%">
    <mat-card class="doctorCard">
      <mat-card-header>
          <img class="example-header-image" mat-card-avatar [src]=" picturePlaceholder ">
        <mat-card-title>Doctor</mat-card-title>
        <mat-card-subtitle id="t2"><span *ngIf="doctordata">{{doctordata.Name}}</span></mat-card-subtitle>
        <mat-card-subtitle id="t3"><span *ngIf="doctordata">{{doctordata.SpecialityName}}</span></mat-card-subtitle>
      </mat-card-header>
      <!-- <hr /> -->
      <div class="my-call-mail">
        <mat-card-content>
          <span class="material-icons">call</span>
          <span *ngIf="doctordata">{{doctordata.PhoneNumber}}</span>
          <br>
          <span class="material-icons">email</span>
          <span *ngIf="doctordata">{{doctordata.Mail}}</span>
        </mat-card-content>
      </div>
      <div class="my-npi-no-location">
        <hr style="width: 1px; height: 70px" id="vertical-rule" />
        <mat-card-content>
          <span *ngIf="doctordata"><sup>NPI No. </sup >{{doctordata.NPINumber}}</span><br>
          <span *ngIf="doctordata"><sup>Location </sup>{{doctordata.PracticeLocation}}</span>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
  