<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
 <div class="card-body" >
  <h2 mat-dialog-title style="text-decoration:blue">Are you sure you want to close the appointment?</h2>
    <mat-dialog-content><p>You won't be able to change the prescriptions and tests 
      recommended once you close the appointment. make sure
       you check them once before you confirm.</p></mat-dialog-content>
       <mat-form-field  >
        <mat-label >input</mat-label>
       
          <input type="text" placeholder="Comments" >
        
      </mat-form-field>
      
      <mat-dialog-actions>
      <div class="flex">
      <button style="background-color:blue"><a href="#" class="btn btn-primar">Confirm</a></button>&nbsp;&nbsp;&nbsp;
      <button style="background-color:white "><a href="close" class="btn btn-primar">Cancel</a></button>
      </div>
    </mat-dialog-actions>
 </div>


