<div class="card">
    <div class="headingName">
      Vitals<span><button type="button" id="Btn" (click)="check()" class="btn btn-outline-success">
          {{ ans }}
        </button></span>
    </div>
    <div class="row">
      <div class="col-md-3 col-6 font_12">
        <div class="margin">ECG</div>
        <div class="margin">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="red" class="bi bi-heart"
            viewBox="0 0 16 16">
            <path
              d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
          </svg>
        </div>
        <div class="margin">
          <span style="opacity: 0.5; margin-left: 1rem">BPM</span>
        </div>
        <div class="margin">
          <input type="number" name="ecg" class="form-control" id="ecg" [disabled]="isDisabled" required min="40"
            max="120" [value]=" Vitals ? Vitals.ecg: null " /><span style="opacity: 0.5; margin-left: 1rem">BPM</span>
        </div>
      </div>
      <div class="col-md-3 col-6 font_12">
        <div class="margin">Temperature</div>
        <div class="margin">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
            class="bi bi-thermometer-high" viewBox="0 0 16 16">
            <path d="M9.5 12.5a1.5 1.5 0 1 1-2-1.415V2.5a.5.5 0 0 1 1 0v8.585a1.5 1.5 0 0 1 1 1.415z" />
            <path
              d="M5.5 2.5a2.5 2.5 0 0 1 5 0v7.55a3.5 3.5 0 1 1-5 0V2.5zM8 1a1.5 1.5 0 0 0-1.5 1.5v7.987l-.167.15a2.5 2.5 0 1 0 3.333 0l-.166-.15V2.5A1.5 1.5 0 0 0 8 1z" />
          </svg>
        </div>
        <div class="margin">
          <span style="opacity: 0.5; margin-left: 1rem">°C</span>
        </div>
        <div>
          <input type="number" step="0.1" name="temperature" class="form-control col" id="temp" [disabled]="isDisabled"
            required min="32" max="45" [value]=" Vitals ? Vitals.temperature : null " /><span
            style="opacity: 0.5; margin-left: 1rem">°C</span>
        </div>
      </div>
      <div class="col-md-3 col-6 font_12">
        <div class="margin">Diabetes</div>
        <div class="margin">
          <img src="../../assets/IMG/vita.png" class="diabetes" style="height: 25px" />
        </div>
        <div class="margin">
          <span style="opacity: 0.5; margin-left: 1rem">mg/dl</span>
        </div>
      </div>
      <div class="col-md-3 col-6 font_12">
        <div class="margin">Respiration Rate</div>
        <div class="margin">
          <img src="../../assets/IMG/respiration.png" class="resp" style="height: 25px" />
        </div>
        <div class="margin">
          <span style="opacity: 0.5; margin-left: 1rem">BPM</span>
        </div>
        <div>
          <input type="number" name="respiration" class="form-control" id="respiration" [disabled]="isDisabled" required
            min="4" max="60" [value]=" Vitals? Vitals.respiration_rate:null " /><span
            style="opacity: 0.5; margin-left: 1rem">BPM</span>
        </div>
      </div>
    </div>
  </div>