.position {
    padding-top: 20%;
    padding-left: 30%;
    border: 1px solid;
    height: fit-content;
}

.background {
    background-color: rgb(42, 86, 109);
}

.text {
    color: white;
}

.border {
    margin-left: 10%;
}

.col-auto {
    display: flex;
}

h1 {
    color: rgb(29, 85, 114);
}

.formfield {
    width: 100%;
}