.position {
    padding-top: 10%;
    padding-left: 10%;
    border: 2px solid;
    height: fit-content;
    width: fit-content;
    margin-right: 30%;
}

.background {
    background-color: rgb(42, 86, 109);
}

.text {
    color: white;
}

h1 {
    color: rgb(29, 85, 114);
}