.card-body{
  
    width:fit-content;
    height: fit-content;
    
   
}
.demo{
    display: inline-block;
}
.card{
   
   width:fit-content;
   /* height: fit-content; */
  

}
.dialog{
    width:30%;
}
input{
    background: transparent;
   
    border: none;
    border-color: aliceblue;
    border-bottom: 1px solid black;
    inset: line;
}
.btnbtn-primar{
    background-color: transparent;
    border-color: transparent;
    color: blue;

}
h2{
    text-decoration-style: wavy;
    color: blue;
}

p{
    color: rgb(72, 45, 170);
}


.mat-dialog-title{
 text-decoration: darkblue;
}